* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  background-image: url("../../src/img/page_bg.jpg");
  background-repeat: repeat;
  overflow-y: auto;
}
h1 {
  position: absolute;
  left: -10000px;
}

.title {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto -60px;
  padding-top: 25px;
  pointer-events: none;
}
.ui {
  display: block;
  max-width: 400px;
  margin: -360px auto 0;
  border-radius: 0 0 7px 7px;
  pointer-events: none;
}
.health {
  display: block;
  width: 300px;
  height: 23px;
  margin: -235px auto 0;
}
.health_bar {
  height: 23px;
  pointer-events: none;
}

.canvas {
  background-image: url("../../src/img/background.jpg");
  display: block;
  max-width: 400px;
  height: 750px;
  padding: 0;
  margin: auto;
  border: 3px solid #281206;
  border-radius: 10px;
}

#actors-canvas {
  position: relative;
  top: -130px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  width: 300px;
  margin: 38px auto 0;
}

.shieldButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  fill: #E8CE71;
  cursor: pointer;
}
.healButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  fill: #E8CE71;
  cursor: pointer;
}
.chargeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 72px;
  fill: #E8CE71;
  cursor: pointer;
}

.scoreText {
  font-family: sans-serif;
  font-weight: bold;
  color: #544435;
  width: 300px;
  margin: -160px auto 0;
}

.startText, .gameOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.75);
  color: #ffffff;
}
.startText *, .gameOver * {
  text-align: center;
}
.startTitle, .gameOverTitle {
  font-size: 50px;
  margin: 200px auto 0;
  width: 400px;
  font-weight: bold;
}
.startExplain, .gameOverResult {
  font-size: 30px;
  margin: 50px auto 0;
  width: 380px;
}
.startPush {
  font-size: 30px;
  margin: 100px auto 0;
  width: 400px;
}
.pushToStart {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
  width: 305px;
  cursor: pointer;
}
.startBegin {
  font-size: 30px;
  margin: auto;
  width: 400px;
}

@media (max-width: 400px) {
  .title {
    display: none;
  }
  .canvas {
    border: none;
    border-radius: 0;
  }
  .ui {
    border-radius: 0;
  }
}